In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("decisiontreedata.csv")

In [3]:
df.head()

   Age  Experience  Rank Nationality   Go
0   36          10     9          UK   NO
1   42          12     4         USA   NO
2   23           4     6           N   NO
3   52           4     4         USA   NO
4   43          21     8         USA  YES

In [ ]:
a = {"UK": 1, "USA": 2, "N":}