In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("cardata.csv")

In [3]:
df.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo     1.0     790   99
1  Mitsubishi  Space Star     1.2    1160   95
2       Skoda      Citigo     1.0     929   95
3        Fiat         500     0.9     865   90
4        Mini      Cooper     1.5    1140  105

In [4]:
from sklearn.preprocessing import StandardScaler

In [5]:
scaler = StandardScaler()

In [6]:
X = df[["Volume", "Weight"]]
y = df["CO2"]

In [7]:
X.head(2)

   Volume  Weight
0     1.0     790
1     1.2    1160

In [8]:
y.head(2)

0    99
1    95
Name: CO2, dtype: int64

In [12]:
scalerxy = scaler.fit_transform(X, y)

In [10]:
from sklearn import linear_model

In [11]:
regr = linear_model.LinearRegression()

In [13]:
regr.fit(scalerxy, y)

LinearRegression()

In [17]:
myscaler = scaler.transform([[2.26, 1532]])

D:\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [18]:
predictco2 = regr.predict([myscaler[0]])

In [19]:
print(predictco2)

[108.90265252]