# Machine Learning - Scale

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler

In [3]:
scale = StandardScaler()

In [7]:
df = pd.read_csv("cardmodified.csv")

In [8]:
df.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo     1.0     790   99
1  Mitsubishi  Space Star     1.2    1160   95
2       Skoda      Citigo     1.0     929   95
3        Fiat         500     0.9     865   90
4        Mini      Cooper     1.5    1140  105

In [11]:
X = df[["Volume", "Weight"]]
y = df["CO2"]

In [12]:
scaleX = scale.fit_transform(X)

In [13]:
print(scaleX)

[[-1.59336644 -2.10389253]
 [-1.07190106 -0.55407235]
 [-1.59336644 -1.52166278]
 [-1.85409913 -1.78973979]
 [-0.28970299 -0.63784641]
 [-1.59336644 -1.52166278]
 [-0.55043568 -0.76769621]
 [-0.28970299  0.3046118 ]
 [-0.28970299 -0.7551301 ]
 [-0.0289703  -0.59595938]
 [-1.33263375 -1.30803892]
 [-0.81116837 -1.26615189]
 [-1.59336644 -0.7551301 ]
 [-0.0289703  -0.16871166]
 [-0.0289703   0.14125238]
 [-0.0289703   0.15800719]
 [-0.0289703   0.3046118 ]
 [ 1.53542584 -0.05142797]
 [-0.0289703  -0.72580918]
 [ 1.01396046  0.14962979]
 [-0.0289703   1.2219378 ]
 [ 1.01396046  0.5685001 ]
 [ 1.27469315  0.3046118 ]
 [-0.0289703   0.51404696]
 [ 1.01396046  0.51404696]
 [-0.28970299  0.72348212]
 [ 1.01396046  0.8281997 ]
 [ 1.01396046  1.81254495]
 [-0.0289703   0.96642691]
 [ 1.01396046  1.72877089]
 [ 1.27469315  1.30990057]
 [ 1.01396046  1.90050772]
 [-0.0289703  -0.23991961]
 [-0.0289703   0.40932938]
 [-0.0289703   0.47215993]
 [ 2.31762392  0.4302729 ]]

In [14]:
df.describe()

          Volume       Weight         CO2
count  36.000000    36.000000   36.000000
mean    1.611111  1292.277778  102.027778
std     0.388975   242.123889    7.454571
min     0.900000   790.000000   90.000000
25%     1.475000  1117.250000   97.750000
50%     1.600000  1329.000000   99.000000
75%     2.000000  1418.250000  105.000000
max     2.500000  1746.000000  120.000000

In [16]:
# now predict co2 values

regr = linear_model.LinearRegression()
regr.fit(scaleX, y)

LinearRegression()

In [18]:
scaled = scale.transform([[0.9, 865]])

D:\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [19]:
predict = regr.predict([scaled[0]])
print(predict)

[93.25102045]