In [15]:
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv("data.csv")

In [10]:
df.head(2)

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95

<b>Independent values</b>

In [11]:
X = df[["Volume", "Weight"]]
y = df["CO2"]

In [13]:
X.tail(3)

    Volume  Weight
33    1600    1390
34    1600    1405
35    2500    1395

In [14]:
y.head(2)

0    99
1    95
Name: CO2, dtype: int64

In [16]:
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

# Prediction

In [18]:
mypredict = regr.predict([[1800, 1390]])

D:\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [19]:
print(mypredict)

[104.23999955]

so that the engine wiht 1.8 litre and weight with 1390 kg car will release approximately 104.23 grams of co2 in every kilometre it drives

### let's find the coefficient  (coef_)

In [48]:
print(regr.coef_)

[0.00780526 0.00755095]

## New Prediction

In [49]:
newpredict = regr.predict([[1800, 1750]])
print(newpredict)

[106.95834056]

D:\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [51]:
myresult = mypredict + (360 * 0.00755095)
for result in myresult:
    print("{:.4f}".format(result))

106.9583