### Importing Google Sheets using Python Pandas 
Video link: https://www.youtube.com/watch?v=3KWzYM_KafM&list=PLKdU0fuY4OFcot0zyVbM1-zKf_eCUK4zQ&index=40

In [1]:
import pandas as pd
import gspread

In [4]:
gc = gspread.service_account(filename="B:\\Jupyter Notebook\\Machine Learning\\Study Mart\\test1-388314-45a1e0635db5.json")

if error found in the url, use double backslash instead of single backslash

In [5]:
gc

In [6]:
sheet = gc.open_by_url("https://docs.google.com/spreadsheets/d/1nsbWLNyEkllKzwmoN88DQCkuU8YAnekSaPHp_2FF9WE/edit?usp=sharing")

In [7]:
sheet

In [10]:
ws = sheet.worksheet("Sheet1")

In [11]:
ws

In [24]:
df = pd.DataFrame(ws.get_all_records())

In [25]:
df

      name1  age1
0     jabed    21
1      rafi    23
2  abdullah    35
3     selim    31
4      saad    28
5    rejwan    23
6     Rabbi    25

In [14]:
ws2 = sheet.worksheet("Sheet2")

In [15]:
ws2

In [18]:
df2 = pd.DataFrame(ws2.get_all_records())

In [19]:
df2

     name2  age2
0   shakil    27
1   shohan    29
2    masum    26
3  safayet    24
4   ashish    23